{% extends 'base.html.twig' %}

{% block title %}OakAndAspen - Timeline{% endblock %}

{% block body %}
    <div id='timeline-embed'></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset("js/timeline.js") }}"></script>
{% endblock %}